@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

:root {
    --primary-color: #4a4a4a;
    --secondary-color: #f2f2f2;
    --font-color: rgb(221, 162, 98);
    --scroll-font: 'IM Fell English', 'Times New Roman', serif;
    --scroll-font-color: #2b1708;
    --scroll-accent-color: #7c4317;
    --scroll-highlight-color: #f9e1b0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 65px;
}

main {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 100px;
    gap: 1rem;
    position: relative;
}

section {
    width: 100%;
    max-width: 1300px;
    background-color: var(--scroll-highlight-color);
    padding: 10px;
    border-radius: 0.25rem;
}

select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--scroll-accent-color);
    color: var(--scroll-font-color);
    padding: 0 0.5em;
}

.btn {
   font-family: var(--scroll-font);
   padding: 10px 30px; 
   background-color: var(--primary-color);
   color: var(--secondary-color);
   margin: 20px;
   font-size: 1.25em;
}

.btn:hover {
    box-shadow: 1px 1px 4px black;
}

.item-detail-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding-bottom: 200px;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: var(--scroll-font);
}

.preview-img {
    width: 70%;
    height: auto;
    grid-row: 1/4;
    border-style: ridge;
    border-width: 4px;
    margin: 0 auto;
    border-color: var(--primary-color);
}

.btn-info {
    grid-row: 2;
    grid-column: 2;
}

.text-info {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.25em;
    margin-right: 200px;
}

.item-name {
    grid-row: 1;
    grid-column: 2;
    font-size: 1.75em;
}

@media screen and (max-width: 1200px) {
    .item-detail-container {
        display: block;
    }

    .preview-img {
        width: 60%;
    }

    .text-info {
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px) {
    .preview-img {
        width: 80%;
    }
}

