@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

:root {
    --primary-color: #4a4a4a;
    --secondary-color: #f2f2f2;
    --font-color: rgb(221, 162, 98);
    --scroll-font: 'IM Fell English', 'Times New Roman', serif;
    --scroll-font-color: #2b1708;
    --scroll-accent-color: #7c4317;
    --scroll-highlight-color: #f9e1b0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 100px;
}

main {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    gap: 1rem;
}

section {
    width: 100%;
    max-width: 700px;
    background-color: var(--scroll-highlight-color);
    padding: 10px;
    border-radius: 0.25rem;
}